.header {
    width: 100%;
    height: 1860px;
    background-image: url("/Images/lines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);
}

/* header one styles */
.headerone {
    width: 100%;
    display: flex;
}

.header1left {
    width: 50%;
    height: 100%;
}

.header1left h1 {
    font-weight: 400;
    font-size: 28px;
    font-family: "Open Sans";
    line-height: 36.4px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 55px;
    margin-left: 80px;
    color: #fff;
}

.header1left p {
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 23.45px;
    width: 500px;
    height: 138px;
    margin-left: 80px;
    margin-top: 79px;
}

.header1left h6 {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.45px;
    font-family: "Open Sans";
    margin-left: 80px;
    margin-top: 80px;
    width: 511px;
    height: 23px;
}

.header1right {
    width: 50%;
    height: 100%;
    text-align: center;
}

.header1right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header Two styles */
.headertwo {
    width: 100% !important;
    height: 600px;
    display: flex;
    align-items: center;
}

.header2left {
    width: 50%;
}

.header2left img {
    width: 680px;
    height: 460px;
    object-fit: cover;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 40px;
}

.header2right {
    width: 50%;
}

.header2right h6 {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 26.8px;
    width: 387px;
    height: 27px;
    margin-left: 110px;
}

.header2right p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-family: "Oswald";
    letter-spacing: normal;
    margin-left: 5px;
}

.header2right span {
    color: var(--gold);
    font-size: 20px;
}

.header2right div {
    margin-top: 5px;
    margin-left: 115px;
    display: flex;
    align-items: center;
}

.p1 {
    width: 470px;
    height: 54px;
}

.p2 {
    width: 470px;
    height: 27px;
}

.p3 {
    width: 470px;
    height: 81px;
}

/* Header three styles */
.headerthree {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.header3left{
    width: 50%;
}
.header3left h1{
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--open-sans);
    color: #fff;
    width: 517px;
    height: 250px;
    text-align: left;
    margin-left: 110px;
    letter-spacing: 8px;
    line-height: 57.2px;
    font-size: 40px;
}

.header3right {
    width: 50%;
    height: 100%;
}
.header3right img{
    width: 680px;
    height: 460px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 40px;
    object-fit: cover;
}


/* Mobile styles */
@media (max-width:375.98px) {

    /* Header one mobile styles */
    .header1left h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 23.4px;
        letter-spacing: 4px;
        margin-top: 40px;
        margin-left: 16px;
        margin-right: 110px;
        width: 320px;
        height: 23px;
    }

    .headerone {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header {
        background-image: none;
        width: 375px;
        height:1630px;
    }

    .header1left p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20.1px;
        width: 343px;
        height: 197px;
        margin: 19px 16px;
    }

    .header1left h6 {
        font-weight: 400;
        font-size: 12px;
        line-height: 20.1px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 40px;
        width: 375px;
        height: 50px;
    }

    .header1right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header1right {
        width: 100%;
    }

    /* header two mobile styles */
    .headertwo {
        width: 375px;
        height: 460px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header2left {
        width: 100%;
    }

    .header2right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header2left img {
        width: 343px;
        height: 232px;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .header2right h6 {
        margin-left: 17px;
        font-size: 12px;
        line-height: 20.1px;
        width: 294px;
        height: 20px;
        margin-bottom: 0;
        margin-top: 0;

    }

    .header2right span {
        font-size: 16px;
        width: 9px;
        height: 20px;
    }

    .p1 {
        width: 325px;
        height: 40px;
        line-height: 20.1px;
        font-size: 12px;
    }

    .p2 {
        width: 325px;
        height: 20px;
        line-height: 20.1px;
        font-size: 12px;
    }

    .p3 {
        width: 325px;
        height: 60px;
        text-align: left;
        font-size: 12px;
    }

    .header2right div {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .header2right p {
        font-size: 12px;
        line-height: 20.1px;

    }
    /* header three mobile styles */
    .header3left h1{
        width: 343px;
        height: 114px;
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
        line-height: 38.13px;
        font-size: 28px;
        letter-spacing: normal;
    }
    .headerthree {
        width: 375px;
        height: 420px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header3left{
        width:375px;
        height: 114px;
    }
    .header3right {
        width: 375px;
        height: 300px;

    }
    .header3right img{
        width: 343px;
        height: 232px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-right: 16px;
        margin-left: 16px;
    }
}