.main {
    width: 100%;
    background-color: var(--white);
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.might {
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 42px;
}

.might h1 {
    width: 355px;
    height: 36px;
    color: #000000;
    font-weight: 400;
    font-size: 28px;
    font-family: var(--open-sans);
    line-height: 36.4px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.shopcard {

    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-direction: row;
}

.cards {
    width: 25%;
    position: relative;
}

.shipping {
    top: 8px;
    left: 8px;
    position: absolute;
    width: 90px;
    height: 24px;
    background-color: var(--aside-background);
    text-align: center;

}

.shipping h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20.1px;
    font-family: var(--open-sans);
    color: #000000;
    margin: 0;
}

.cardsImg img {
    width: 328px;
    height: 410px;
    object-fit: cover;
}

.icons i {
    color: var(--gold);
}

.cardp1 {
    color: #000000;
    font-weight: 300;
    font-size: 12px;
    line-height: 20.16px;
    font-family: var(--oswald);
    letter-spacing: 1px;
}

.cardp2 {
    font-weight: 300;
    font-size: 12px;
    color: var(--gray);
    line-height: 20.16px;
    letter-spacing: 1px;
    font-family: var(--oswald);
}

@media (max-width:375.98px) {
    .main {
        width: 375px ;
        height: 500px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .might {
        margin-top: 40px;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    .might h1 {
        width: 173px;
        height: 24px;
        font-size: 14px;
        line-height: 23.52px;
        letter-spacing: 1px;
    }

    .shopcard {
        display: flex;
        flex-direction: row;
        margin: 0px 0px;
        overflow-x: scroll ;
        overflow: hidden !important;

    }

    .cards {
        width: 25%;
        margin: 0px 10px;
        /* margin-left: 0; */

    }

    .cardsImg img {
        width: 167px;
        height: 209px;
    }

    .icons i {
        width: 16px;
        height: 16px;
    }

}